.footerContainer {
  position: fixed; 
  bottom: 7px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.logoFooter {
  background-image: url("../../src/assets/logoFooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 181px;
  height: 55px;
  margin-bottom: -20px;
}

.lineFooter {
  border-bottom: 1px solid #655852; 
  margin: 8px 0;
  display: flex;
  align-items: center;
  width: 350px;
  margin-bottom: 10px;
}


.paragraph {
  color: #3C2D26;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Doppio One;
  font-size: 10px;
  font-weight: 400;
}