.footerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 5rem;
}



.logoFooter{
  background-image: url('../../src/assets/logoFooter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 281px;
height: 55px;
}

.lineFooter{
  border-bottom: 3px solid #8EA19D; /* Cor, espessura e estilo da borda */
  margin: 20px 0; /* Margem para separar a linha do conteúdo acima e abaixo */
  position: relative;
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 600px;
   
}

.lineFooter::before,
.lineFooter::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #8EA19D;
}

.lineFooter::before,
.lineFooter::after {
  content: "";
  position: absolute;
  width: 10px; /* Tamanho da bolinha */
  height: 10px; /* Tamanho da bolinha */
  background-color: #8EA19D; /* Cor da bolinha */
  border-radius: 50%; /* Forma circular */
}

.lineFooter::before {
  left: -9px; /* Posição da bolinha à esquerda */
}

.lineFooter::after {
  right: -9px; /* Posição da bolinha à direita */
}

.paragraph{
  color: #1E1E1E;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Doppio One;
  font-size: 17px;
  font-weight: 400;

}