/* DocumentsPage.module.css */

.documentContainer {
  background: url("../../src/assets/documentsBg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
  background-size: 100% 100%;
  min-height: 100vh;
}

.homeButton {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-start !important;
  margin-left: -110rem;
  padding-bottom: 4rem;
  background: transparent;
}

.homeButton button {
  background: transparent;
  border: none;
  transition: 0.3s;
}

.homeButton button:active {
  transform: translateY(5px);
}

.home {
  margin-right: 30px;
  font-size: 34px;
  color: #3e4947c5;
}



/* Estilos para a tabela */
table {
  width: 100%;
  border: 6px solid #4e5b581a;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.infos {
  color: #4e5b58;
  padding: 15px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
}

/* Estilo para linhas pares da tabela */
tr:nth-child(even) {
  background-color: rgba(217, 217, 217, 0.359);
}

/* Estilo para linhas ímpares da tabela */
tr:nth-child(odd) {
  background-color: rgba(132, 152, 147, 0.13);
}

th,
td {
  color: #3e4947;
  font-size: 15px;
  padding: 6px 13px;
  text-align: left;
  border-bottom: 2px solid #c8d3d0e4;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.documentsIcons {
  font-size: 25px;
  color: #3e4947c5;
  transition: color 0.3s ease, transform 0.50s ease;
}

.documentsIcons:hover {
  color: #767f7dd6;
  /* Altere para a cor desejada no hover */
  transform: scale(0.9);
  /* Aplica um zoom de 1.2x */
}

.iconButton {
  border: none;
  background: transparent;
  margin-left: 2em;
  cursor: pointer;
  font-size: 21px;
  color: #3e4947c5;
  transition: color 0.3s ease, transform 0.50s ease;
}

.iconButton:hover {
  color: #808685d6;
  /* Altere para a cor desejada no hover */
  transform: scale(0.9);
  /* Aplica um zoom de 1.2x */
}

/*Dragzone*/
.buttonSave {
  background-color: #3d6d3f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.footer {
  position: fixed;
  bottom: 0;
}

/* Adicione a regra de mídia para largura máxima de 710px */
@media (max-width: 710px) {
  .documentContainer {
    background: url("../../src/assets/documentsBg.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    /* Defina a largura máxima */
    background-size: 100% 100%;
    min-height: 100vh;
  }

  .homeButton {
    display: flex;
    margin-top: 2rem;
    justify-content: flex-start !important;
    margin-left: -30em;
    padding-bottom: 4rem;
    background: transparent;
  }

  .homeButton button {
    background: transparent;
    border: none;
    transition: 0.3s;
  }

  .homeButton button:active {
    transform: translateY(5px);
  }

  /* Estilos para a tabela */
  .tableContent {
    width: 100%;
    overflow-x: auto;
    /* Adiciona rolagem horizontal se necessário */
  }

  .table {
    width: 80%;
    /* Defina a largura desejada para a tabela */
    margin: 0 auto;
    /* Centraliza a tabela horizontalmente */
    border-collapse: collapse;
  }

  .infos {
    color: #3e4947c5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.43);
  }

  /* Estilo para linhas pares da tabela */
  tr:nth-child(even) {
    background-color: rgba(217, 217, 217, 0.43);
  }

  /* Estilo para linhas ímpares da tabela */
  tr:nth-child(odd) {
    background-color: rgba(132, 152, 147, 0.13);
  }

  th,
  td {
    padding: 8px 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    color: #392820;
  }

  .documentsIcons {
    font-size: 20px;
  }

  .iconButton {
    border: none;
    background: transparent;
    margin-left: 0;
  }

  /*Dragzone*/
  .buttonSave {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}