.clientList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 0;
}

.clientList:not(:last-child) {
  border-bottom: 1px solid #1e1e1e;
}

@media (max-width: 710px) {
  .clientList {
    width: 100%;
    padding: 1.5rem 0rem;
    justify-content: center;
    align-items: center;
  }
}
