.cadastroContainer{
  background-image: url('../../src/assets/bgCadastro.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1024px;
}

.formContainer{
  background-image: url('../../src/assets/bgCadastro2.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 549px;
  height: 733px;
  border-radius: 24px;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  

}



.form{
  display: flex;
  flex-direction: column;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}

.label{
  width: 164px;
  height: 32px;
  color: rgba(60, 45, 38, 0.90);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input::placeholder{
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2em;
  
}

.passwordInput {
  display: flex;
  align-items: center;
}

.input{
  width: 367px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 49px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 6px 2px 16px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  outline: none;
  margin-bottom: 1em;
  padding-left: 1em;
}

.infoIcon {
  cursor: pointer;
 margin-left: 0.5em;
 width: 63px;
 height: 40px;
}

.infoMessage{
  width: 377px;
  height: 30px;
  color: #3C2D26;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  border-radius: 12px;
  background: rgba(250, 250, 250, 0.82);

}

.button1{
  width: 367px;
  height: 45px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
}

.button2{
  
  width: 367px;
  height: 43px;
  border-radius: 9px;
  background: #D9D9D9;
  box-shadow: 5px 3px 16px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(60, 45, 38, 0.90);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;

}

