.main {
  width: 100%;
  height: calc(100vh - 100px);
}
.AdminAuthSection {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-position: right 5% bottom 45%;
}

.container {
  gap: 2rem;
  width: 100%;
  max-width: 700px;
  padding: 22px;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  align-items: center;
  background: url("@/assets/bgAdd.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  opacity: 0.7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
}

.formActions {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding: 20px;
  position: relative;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.inputGroup label {
  font-weight: 600;
  font-size: 20px;
  color: #436960;
}

.inputContainerH2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 28px;
  gap: 1rem;
  color: #436960;
}

.inputContainerP {
  font-weight: 400;
  font-size: 20px;
  color: #436960;
}

.input:focus-within {
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.icon {
  width: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: inherit;
  background: #98ada9;
  border: 1px transparent;
  height: inherit;
  outline: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  border-left: solid 1px rgba(255, 255, 255, 0.42);
  height: 29px;
  border-radius: 6px;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.input:focus {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.59) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 17px;
  font-weight: 600;
  opacity: 0.8;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  flex: 0 1 150px;
  border: none;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 483;
  outline: none;
  transition: background-color 0.3s box-shadow 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: scale(0.9);
  border-radius: 9px;
  background: #9aafaa;
}
.button:disabled {
  transform: scale(0.9);
  border-radius: 9px;
  background: #9aafaa;
  cursor: not-allowed;
}

.inputErrorMessage {
  color: rgb(177, 61, 61);
  text-align: center;
  position: absolute;
  bottom: -22px;
  font-size: 12px;
  left: 0;
}

.errorMessage {
  padding: 1rem 0;
  color: rgb(177, 61, 61);
  text-align: center;
  position: absolute;
}
@media (max-width: 780px) {
  .container {
    background: none;
    padding: 0 32px;
  }

  .form {
    width: 100%;
    padding: 0 32px;
  }

  .inputContainerH2 {
    font-size: 18px;
  }
  .inputContainerP {
    font-size: 1rem;
  }
  .inputContainer {
    gap: 1rem;
  }
  .inputGroup {
    padding: 1rem 0;
  }
  .inputGroup img {
    display: none;
  }
}
