.modalContent {
  display: flex;
  flex-direction: column;
}

.formContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 600px;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  height: 29px;
}

.input2 {
  width: 200px;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  height: 29px;
  padding: 1em;
}

.buttonsGroup {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
