.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  min-height: 100%;
  background: url("../../src/assets/bgClient.png");
  background-repeat: no-repeat;
  background-size: 140% 130%; 
  background-attachment: fixed;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 910px;
  max-width: 100%;
  min-height: 830px;
  margin: 32px;
  margin-top: 2rem;
  border-radius: 8px;
  opacity: 0.7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.20);

}

.section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 24px;
  padding: 2rem 0;
}
.contentClientList{
  padding: 0 32px;
}

.buttonHome {
  display: flex;
  object-fit: contain;
  position: relative;
  left: 24px;
  top: 40px;
  color: #392820;
}

.butoon:active {
  transform: translateY(5px);
}

.home {
  font-size: 45px;
}

.title {
  color: #392820;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Franklin Gothic Medium;
  font-size: 55px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.icon {
  font-size: 15px;
  align-items: stretch;
}

.buttonEnterprise {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 17px;
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.Heading {
  display: flex;
  gap: 14px;
  padding: 32px;
  width: 100%;
}

.headingWrapper {
  width: 100%;
}

.search {
  color: rgba(30, 30, 30, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* margin-left: 25%; */
}

.find {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 39px;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-left: 1em;
  /* margin-left: 1em; */
}

.buttonProfile {
  width: 171px;
  height: 39px;
  background: #a0b0ac;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 1rem;
}

.modals {
  display: flex;
  gap: 14px;
  width: 100%;
}

.modalContent {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 32px;
  justify-content: space-around;
}

.button1 {
  width: 110px;
  height: 35px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
}

.button2 {
  width: 100px;
  height: 35px;
  border-radius: 9px;
  background: #d9d9d9;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(60, 45, 38, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
}

@media (max-width: 710px) {
  .container {
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin: 0 32px;
    /* padding: 1.5rem 32px; */
  }
 
  .section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: none;
  }

  .buttonEnterprise {
    padding: 0.5rem 32px;
  }

  .Heading {
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
    width: 100%;
  }

  .footer{
    margin-top: 3rem;
  }
}
