.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 5% bottom 45%;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  flex: 2;
}

.form {
  background-image: url("../../src/assets/bgform.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 566px;
  min-height: 634px;
  gap: 12px;
}

.logo1 {
  background-image: url("../../src/assets/logo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 65px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.inputGroup {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
  height: 29px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding: 20px;
  flex-direction: row;
  margin-top: 3px;
  position: relative;
}

.inputGroup:focus-within {
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.icon {
  width: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: inherit;
  background-color: transparent;
  border: 1px transparent;
  height: inherit;
  outline: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding-left: 0.5rem;
  border-left: solid 1px rgba(255, 255, 255, 0.42);
}

.input:focus {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.59) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 17px;
  font-weight: 600;
  opacity: 0.8;
}

.user {
  border-radius: 9px;
  background: #849893;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.containerForm button {
  width: 337px;
  height: 35px;
  border: none;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 483;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.containerForm button:hover {
  transform: scale(0.9);
  border-radius: 9px;
  background: #9aafaa;
}

.forguet {
  color: rgba(60, 45, 38, 0.9);
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-weight: 483;
  line-height: 149.023%;
  opacity: 0.800000011920929;
  font-size: 16px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.forguet:hover {
  color: #ffffff;
  transform: scale(0.9);
  /* Aplica o efeito de zoom ao passar o mouse */
}

.errorWrapper {
  background-color: transparent;
  min-height: 44px;
}

.error {
  display: flex;
  width: 100%;
  height: 44px;
  color: #3c2d26;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 483;
  border-radius: 13px;
  background: rgba(217, 217, 217, 0.85);
  box-shadow: -3px -3px 16px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  bottom: 0;
  right: 0;
}

.error svg {
  color: #f19d23;
  margin-right: 5px;
  width: 23px;
  height: 23px;
}

.actions {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 710px) {
  .form {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0 32px;
  }

  .inputGroup,
  .containerForm button {
    width: 100%;
  }
}
