.containerForm {
  background-image: url("../../src/assets/gHome2.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.form {
  background-image: url('../../src/assets/bgform.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin-top: 80px;
  
}

.logo1 {
  background-image: url("../../src/assets/logo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 65px;
  margin-bottom: 30px;
}



.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputGroup {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 337px;
  height: 29px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding: 18px;
  position: relative;
  flex-direction: row;
  margin-top: 3px;
}

.inputGroup:focus-within {
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.inputGroup input {
  width: 100%;
  background-color: transparent;
  border: 1px transparent;
  height: inherit;
  outline: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
}

.icon {
  width: 15x;
  height: 25px;
  display: flex;
  top: 9px;
}

.icon::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 20px;
  position: relative;
  top: 4px;
  right: -48px;
  background-color: rgba(255, 255, 255, 0.42);
}

.user {
  border-radius: 9px;
  background: #849893;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.inputText::placeholder,
.inputPass::placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 17px;
  font-weight: 600;
  opacity: 0.8;
  text-indent: 30px;
  /* Adicionar um recuo de 5 pixels para a direita */
  
}
.input input:focus {
  outline: none;
}

.containerForm button {
  width: 337px;
  height: 35px;
  border: none;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 483;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.containerForm button:hover {
  transform: scale(0.9);
  border-radius: 9px;
  background: #9aafaa;
}


.forguet {
  color: rgba(60, 45, 38, 0.9);
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-weight: 483;
  line-height: 149.023%;
  opacity: 0.800000011920929;
  font-size: 16px;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-top: 20px;

}

.forguet:hover {
  color: #ffffff;
  transform: scale(0.9);
  /* Aplica o efeito de zoom ao passar o mouse */
}



.error {
  display: flex;
  width: 377px;
  height: 44px;
  color: #3c2d26;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 483;
  border-radius: 13px;
  background: rgba(217, 217, 217, 0.85);
  box-shadow: -3px -3px 16px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.error svg {
  color: #f19d23;
  margin-right: 5px;
  width: 23px;
  height: 23px;
}

@media (max-width: 710px) {

  .form {
    background: none;
    border: none;
    box-shadow: none;
  }

  /* .footer {
    display: none;
  } */
}