.documentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 0;
}

.list:not(:last-child) {
  border-bottom: 1px solid #1e1e1e;
}

.infoEnterpriseWrapper {
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 0.4rem 0;
}

.infoEnterprise {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.infoEnterprise p:last-child {
  border: solid 1px #1e1e1e;
  border-top-style: none;
  padding: 0.2rem;
}

.infoName {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 17px;
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 171px;
  height: 39px;
  background: #a0b0ac;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: ease-in-out 0.3s;
}
