.form {
  display: flex;
  flex-direction: column;
}
.formGroup {
  display: flex;
  gap: 16px;
  padding: 0 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.button {
  width: 110px;
  height: 35px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
  align-self: center;
}

.button2 {
  width: 100px;
  height: 35px;
  border-radius: 9px;
  background: #d9d9d9;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(60, 45, 38, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
}

/*Modal Info Cliente*/

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
  font-size: 20px;
}

.modalh2 {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  border-bottom: 1px solid #1e1e1e;
  width: 192px;
}

.modalp {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 18px;
  padding: 1rem;
}

@media (max-width: 710px) {
  .container {
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin: 0 32px;
    padding: 1.5rem 32px;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: none;
  }

  .modalContent {
    margin: 2rem auto;
  }

  .contentClientList {
    padding: 0;
    width: 100%;
  }

  .buttonEnterprise {
    padding: 0.5rem 32px;
  }

  .Heading {
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px 0;
    width: 100%;
  }
}
