.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  min-height: 100%;
  background: url("@/assets/bgHome.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("@/assets/client2.png");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1060px;
  max-width: 100%;
  min-height: 830px;
  margin: 32px;
  border-radius: 24px;
  opacity: 0.7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-top: 2rem;
}

.formContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 24px;
  padding: 2rem 0;
}

.buttonHome {
  display: flex;
  object-fit: contain;
  position: relative;
  left: 24px;
  top: 40px;
  color: #392820;
}

.butoon:active {
  transform: translateY(5px);
}

.home {
  font-size: 34px;
}

.title {
  color: #392820;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Franklin Gothic Medium;
  font-size: 55px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.icon {
  font-size: 15px;
  align-items: stretch;
}

.buttonEnterprise {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 17px;
  background-color: transparent;
  border: none;
}

.contentClientList {
  width: 726px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
}

.infoEnterprise {
  width: 100%;
  height: 100px;
  margin-bottom: 2rem;
}

.infoName {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 17px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.Heading {
  display: flex;
  gap: 32px;
  padding: 32px;
  width: 726px;
}

.headingWrapper {
  width: 100%;
}

.search {
  color: rgba(30, 30, 30, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.find {
  display: flex;
  align-items: center;
  width: 100%;
}
.searchInput {
  width: 100%;
  height: 39px;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-left: 1em;
  margin-left: 1em;
}

.buttonProfile {
  width: 171px;
  height: 39px;
  background: #a0b0ac;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 1rem;
}

/*Modal de cadastro*/
.buttonModal {
  width: 171px;
  height: 39px;
  background: #a0b0ac;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  gap: 0.4rem;
}

.buttonModal img {
  width: 28px;
  height: 28px;
}

.modalContent {
  /* background-color: red; */
  cursor: pointer;
}

.h3 {
  color: rgba(60, 45, 38, 0.9);
}

.label {
  width: 164px;
  height: 32px;
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  width: 337px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 25px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  outline: none;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

.input::placeholder {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  padding: 2em;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

/*Modal Info Cliente*/

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
  font-size: 20px;
}

.modalh2 {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  border-bottom: 1px solid #1e1e1e;
  width: 192px;
}

.modalp {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 18px;
  padding: 1rem;
}

.errorMessage {
  padding: 1rem 0;
  color: rgb(146, 51, 51);
  text-align: center;
}

@media (max-width: 710px) {
  .container {
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin: 0 32px;
    padding: 1.5rem 32px;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: none;
  }

  .modalContent {
    margin: 2rem auto;
  }

  .contentClientList {
    padding: 0;
    width: 100%;
  }

  .buttonEnterprise {
    padding: 0.5rem 32px;
  }

  .Heading {
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px 0;
    width: 100%;
  }
}
