.passContainer {
  /* background-image: url('../../src/assets/bgHome.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.passContent {
  background-image: url("../../src/assets/bgform.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 550px;
  margin-bottom: 80px;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.info img {
  margin-top: 10px;
}

.info {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 337px;
  height: 50px;
  border-radius: 13px;
  background: rgba(217, 217, 217, 0.85);
  box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 1.5em;
}

.info p {
  color: #3c2d26;
  text-align: center;
  text-shadow: 0px -1px -1px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  /* padding-right: 1rem; */
  margin-right: 2rem;
}

.form {
  margin-top: 1em;
}

.formContent {
  padding: 0.5em;
}

.inputGroup {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 337px;
  height: 29px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding: 18px;
  position: relative;
  flex-direction: row;
  margin-top: 3px;
}

.label {
  width: 164px;
  height: 32px;
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 8px;
}

.inputGroup img {
  width: 24px;
  height: auto;
}

.input {
  width: 100%;
  height: 49px;
  border: 1px transparent;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.59);
  padding-left: 2em;
  margin-top: 8px;
}

.input::placeholder {
  padding-left: -1em;
  color: rgba(255, 255, 255, 0.59);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 14px;
}

.error {
  display: none; /* Inicia oculto */
  color: #503b3b;
  text-shadow: 0px 1px 1px rgba(148, 144, 144, 0.25);
  font-size: 12px;
  margin-top: 10px;
  padding: 8px 12px; /* Adiciona um espaçamento interno ao redor do texto */
  border-radius: 10px; /* Adiciona bordas arredondadas à caixa */
  background-color: #efffea; /* Define uma cor de fundo */
  position: relative;
}

.error::before {
  content: ""; /* Adiciona um conteúdo ao pseudo-elemento */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%); /* Centraliza o balão horizontalmente */
  width: 20px; /* Largura da ponta do balão */
  height: 20px; /* Altura da ponta do balão */
  background-color: #f2fcef; /* Mesma cor de fundo da caixa */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Define a forma do balão */
}

.visible {
  display: block;
  /* Exibe quando necessário */
}

.inputGroup:focus-within {
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.icon {
  display: flex;
}

.icon::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 30px;
  position: relative;
  top: 5px;
  right: -48px;
  background-color: rgba(255, 255, 255, 0.42);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  width: 337px;
  height: 29px;
  border: none;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 483;
  outline: none;
  margin-top: 1rem;
}

.button2 {
  width: 337px;
  height: 29px;
  border: none;
  border-radius: 9px;
  background: #bdbcbc;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(60, 45, 38, 0.9);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 483;
  outline: none;
  margin-top: 1rem;
}

.button1:hover {
  background: #9aafaa;
}

.button2:hover {
  background: #d7d5d5;
}

.back {
  display: flex;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-weight: 483;
  width: 337px;
  height: 29px;
  border: none;
  border-radius: 9px;
  background: #859594;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.back:hover {
  background: #9aafaa;
}

.button1:hover,
.button2:hover,
.back:hover {
  transform: scale(0.9);
}

/* Ocultar a imagem de fundo quando a largura da tela for menor que 467px */
@media (max-width: 467px) {
  .passContent {
    background-image: none;
  }
}
