.form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.itemHeader {
  width: 100%;
}

.buttons {
  margin: 0;
  padding: 0;
  height: 30px;
  background: transparent;
  border: none;
  background: transparent;
  font-size: 30px;
  color: #4e5b58;
  transition: transform 0.3s;
}

.buttons:hover {
  transform: scale(0.9);
}

.buttons .home {
  font-size: 30px;
  height: 30px;
  color: #4e5b58;
}

@media (max-width: 730px) {
  .content {
    flex-wrap: wrap;
  }
}
