.redefine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 5% bottom 45%;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  flex: 2;
}

.form {
  background-image: url("../../src/assets/bgform.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 566px;
  min-height: 634px;
  gap: 12px;
}

.logo1 {
  background-image: url("../../src/assets/logo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 65px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.inputGroup {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
  height: 29px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 10px 3px 16px 0px rgba(255, 255, 255, 0.5),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding: 20px;
  flex-direction: row;
  margin-top: 3px;
  position: relative;
}

.inputGroup:focus-within {
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.input {
  width: inherit;
  background-color: transparent;
  border: 1px transparent;
  height: inherit;
  outline: none;
  color: rgba(255, 255, 255, 0.59);
  font-size: 22px;
  padding-left: 0.5rem;
}

.input:focus {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.59) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.59);
  font-size: 17px;
  font-weight: 600;
  opacity: 0.8;
}

.success {
  display: flex;
  width: 428px;
  max-width: 100%;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 32px;
  border-radius: 31px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(250, 250, 250, 0.48);
}

.success p {
  font-size: 32px;
  text-align: center;
}

.success img {
  width: 73px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -1.2rem;
}

.recaptcha {
  width: 380px;
  height: 74px;
  padding: 8px 10px 7px 12px;
  justify-content: center;
  align-items: center;
  gap: 119px;
  border-radius: 24px;
  opacity: 0.7;
}

.submit {
  width: 377px;
  height: 45px;
  border: none;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 723;
  outline: none;
}

.cancel {
  width: 377px;
  height: 45px;
  border: none;
  border-radius: 9px;
  background: #d9d9d9;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(60, 45, 38, 0.9);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 723;
  outline: none;
}

.back {
  display: flex;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 23px;
  font-weight: 723;
  width: 188px;
  height: 45px;
  border: none;
  border-radius: 9px;
  background: #859594;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

@media (max-width: 710px) {
  .form {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0 32px;
  }

  .inputGroup,
  .containerForm button {
    width: 100%;
  }
}
