.buttonEntreprise {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 17px;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  width: 100%;
}

.contentClient {
  justify-content: flex-start;
}

.section {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 3em;
}

.infoEnterpriseContainer {
  width: 100%;
  height: 100px;
  padding: 1.5rem 0;
}

.infoEnterprise {
  display: flex;
  gap: 12px;
}

.infoEnterpriseWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.infoName {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 17px;
}

.buttonProfile {
  width: 171px;
  height: 39px;
  background: #a0b0ac;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 1rem;
}

/*Modal de cadastro*/
.buttonModal {
  width: 171px;
  height: 39px;
  background: #a0b0ac;
  border-radius: 26px;
  border: 1px solid rgba(30, 30, 30, 0.43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.buttonModal img {
  width: 28px;
  height: 28px;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 549px;
}

.modalContainer {
  background-image: url("../../src/assets/bgOpaco.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 549px;
  height: 760px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.h3 {
  color: rgba(60, 45, 38, 0.9);
}

.label {
  width: 164px;
  height: 32px;
  color: rgba(60, 45, 38, 0.9);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  width: 337px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 25px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 6px 2px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  outline: none;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

.input::placeholder {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  padding: 2em;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button1 {
  width: 110px;
  height: 35px;
  border-radius: 9px;
  background: #849893;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
}

.button2 {
  width: 100px;
  height: 35px;
  border-radius: 9px;
  background: #d9d9d9;
  box-shadow: 5px 3px 16px 0px #fff, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(60, 45, 38, 0.9);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1em;
}

/*Modal Info Cliente*/

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
  font-size: 20px;
}

.modalh2 {
  color: #1e1e1e;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 22px;
  border-bottom: 1px solid #1e1e1e;
  width: 192px;
}

.modalp {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 18px;
  padding: 1rem;
}

.companyNameWrapper {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 710px) {
  .container {
    width: 100%;
    justify-content: center;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: none;
  }

  .modalContent {
    margin: 2rem auto;
  }

  .clientList {
    width: 400px;
    /* margin: 3rem;
    padding: 3rem; */
    justify-content: center;
    align-items: center;
  }
}
