.containerHome {
  background-image: url("../../src/assets/gHome2.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 107px;
  align-items: center;
  flex-direction: column;
  height: 758px;
  border-radius: 18px;
  border: 28px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 44px 117px;
  margin: 0 32px;
  position: relative;
}

.info {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.info p {
  color: #fff;
  text-align: center;
  width: 284px;
  height: 34px;
  text-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 723;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 8px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  object-fit: cover;
  position: relative;
  bottom: -8px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 269px;
  /* height: 245px; */
  padding: 32px 16px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 21px;
  border: 8px solid rgba(255, 255, 255, 0.37);
  background: rgba(132, 152, 147, 0.93);
  box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.options:hover {
  border: 8px solid rgba(83, 119, 110, 0.7);
  box-shadow: 12px 12px 8px 0px rgba(0, 0, 0, 0.25);
}

.links svg {
  width: 111.955px;
  height: 111.955px;
}

.logout {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 10px;
  font-weight: 723;
  border-radius: 21px;
  border: 5px solid rgba(255, 255, 255, 0.37);
  background: rgba(132, 152, 147, 0.93);
  box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.logout svg {
  width: 26.504px;
  height: 26.557px;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.25));
}

@media (max-width: 710px) {
  .content {
    gap: 50px;
    border: 12px solid rgba(255, 255, 255, 0.5);
    padding: 44px 32px;
    min-height: max-content;
    margin: 0 32px;
  }

  .info {
    align-self: center;
  }

  .links {
    gap: 50px;
  }

  .links svg {
    width: 50px;
    height: 50px;
  }
  .options {
    min-width: fit-content;
    min-height: max-content;
    gap: 15px;
    font-size: 16px;
    padding: 16px;
  }
}
