.ClientProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 5% bottom 45%;
  object-fit: cover;
}

.container {
  gap: 2rem;
  width: 100%;
  max-width: 990px;
  padding: 32px;
}

.contentContainer {
  background: rgba(255, 255, 255, 0.212);
  background-repeat: no-repeat;
  border-radius: 7px;
  width: 100%;
  min-height: 700px;
  padding: 2rem;
  border: #849893;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.formContainer {
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.buttons {
  width: 3em;
  height: 1em;
  margin-left: 0.5em;
  background: transparent;
}

.buttons button {
  border: none;
  background: transparent;
  font-size: 30px;
  color: #4e5b58;
  transition: transform 0.3s;
}

.buttons button:hover,
.buttons .homeButton:hover {
  transform: scale(0.7);
}

.buttons .homeButton {
  background: transparent;
  border: none;
}

.buttons .home {
  font-size: 30px;
  color: #4e5b58;
}

.title1,
.subtitle {
  font-size: 38px;
  font-weight: 600;
}

.title1 {
  padding-bottom: 2.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 1.2rem 5rem;
  padding-bottom: 2.5em;
}

.profileItem {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.errorContainer {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: inherit;
  height: inherit;
  min-height: 600px;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.groupButtons {
  display: flex;
  gap: 32px;
}

.clientInput {
  border: solid 1px transparent;
  border-top-style: none;
  border-radius: 9px;
  width: 100%;
  min-height: 25px;
  padding: 0.3em;
  background: #8f9f9c38;
  color: #3e4947;
  font-size: 14px;
  box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.25) inset,
    -4px 0px 2px -2px rgba(0, 0, 0, 0.25) inset;
  position: relative;
}

.clientInput input {
  background-color: #eefffc;
  border: none;
  width: 100%;
  padding: 2px;
}

.error {
  color: #c9460e;
  font-size: 12px;
  position: absolute;
  bottom: -1.2rem;
}

.message {
  color: #1c3314;
  position: relative;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 720px) {
  .container {
    height: inherit;
    width: 100%;
  }

  .profile {
    grid-template-columns: 1fr;
  }
}
